{% extends 'public/base.html' %}
{% block  body %}
<div class="container-fluid">

<h1 class="thumbnail">Checkout {{ view.display_name}}</h1>

{% if object.profile_image %}<img class="img-rounded" src="/static{{ object.profile_image.url }}" width="35%" />{% endif %}<br /><br />

    <div class="well">
{% if object.summary %}<h2>{{ view.display_name }}'s Summary</h2> <p>{{ object.summary }}</p>{% endif %}

{% if object.company %}<p><b>Company:</b> {{ object.company }}</p>{% endif %}

{% if object.availability.all %}
<h3>Availability:</h3>
    <ul>
    {% for x in object.availability.all %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if object.instrument_group.all %}
    <h3>Instrument Families</h3>
    <ul>
    {% for x in object.instrument_group.all %}
        <li>{{ x.family }}{% if x.description %}: {{ x.description }}{% endif %}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if object.genres.all %}
    <h3>Genres</h3>
    <ul>
    {% for x in object.genres.all %}
        <li>{{ x.genre }}{% if x.description %}: {{ x.description }}{% endif %}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if object.locations.all %}
    <h3>Locations</h3>
    <ul>
    {% for x in object.locations.all %}
        <li>{{ x.description }}</li>
    {% endfor %}
    </ul><br />
{% endif %}
    {% if object.video.all %}
 <div align='Center' class="videoWrapper">
     <iframe  src="https://www.youtube.com/embed/{{ view.latest_video.embedded_code }}" frameborder="0" allowfullscreen >

     </iframe></div> <!-- center videowrapper -->
    {% endif %}



{% if request.user.musician %}
{% if request.user.musician != object %}
<div align="Center">
<form action="{% url 'message:start_music_talk' object.pk %}" method="POST">
        {% csrf_token %}
    <input type="submit" value="Start Conversation"/>
</form><br />
</div>
</div> <!-- container fluid -->
</div> <!-- well -->
{% endif %}
{% endif %}

{% endblock %}