{% extends 'Forum/base.html' %}
{% block body %}
<h2>{{ post.title }}</h2>
    <h6>Score: {{post.score}}</h6>
    <p>{{post.text}}</p> <p>Post by {{ post.user.user.username }}</p>
{% if request.user %}
<form action="{% url 'Forum:vote_create' post.pk 'post' 'upvote' %}" method="POST">
                    {% csrf_token %}
                    <input id="submit" type="submit" value="upvote" />
                </form>
<form action="{% url 'Forum:vote_create' post.pk 'post' 'downvote' %}" method="POST">
                {% csrf_token %}
                <input id="submit" type="submit" value="downvote">
</form>
{% endif %}
<h2>Comments are below</h2>
{% for obj in response %}
    <div>Score: {{obj.score}} <br>Timestamp: {{obj.timestamp}} <br></br>User:
        {% if obj.user.nonmusician.pk %}
             <a href="{% url 'profiles:public_profile' obj.user.user.pk %}">
   {{obj.user.user.username}}</a>
        {% endif %}
   {% if request.user %}
    <form action="{% url 'Forum:vote_create' obj.pk 'response' 'upvote' %}" method="POST">
        {% csrf_token %}
        <input id="submit" type="submit" value="upvote"/>
    </form>
    <form action="{% url 'Forum:vote_create' obj.pk 'response' 'downvote' %}" method="POST">
        {% csrf_token %}
        <input id="submit" type="submit" value="downvote"/>
    </form>
    {% endif %}
     <br></br> {{obj.text}}</div><br></br>
{% endfor %}




    </div>


{% if response.pk %}




{% endif %}



{% endblock %}