{% extends 'Forum/base.html' %}
{% block body %}
<div class="container-fluid">
<br />
<div align="Center"><h1 class="white-h1">Cleff Non-Musician Forum</h1><br /></div>



<div class="well">
<h2>{{ post.title }}</h2>

{% if post.user.profile_image %}
        <img alt="Responsive image" class="img-rounded" src="/static{{ post.user.profile_image.url }}" width="10%" />
     {% else %}
         {{ post.user.user.username }}
{% endif %} <p>

     <p>Post by {{ post.user.user.username }}</p>
    <h6>Timestamp: {{ post.timestamp }}</h6><br />
<div class="container-fluid">
<div class="forum-text">

    <p>{{post.text}}</p><br />
</div><br />

{% if request.user %}

<form class="form-horizontal" action="{% url 'Forum:non_m_response_create' post.pk %}" method="POST">
{% csrf_token %}

<input placeholder="Comment on this post" class="form-control" name="this" type="text" >
<div align="right"><input type="submit" value="Comment" ></div>

</form><br><br>

{% endif %}
<h2>Comments are below</h2>
{% for obj in response %}
    <div><br>Timestamp: {{obj.timestamp}} <br><br>
        {% if obj.nonmusician.pk %}
            Comment by: {{obj.nonmusician.user.username}}
            {% if obj.nonmusician.profile_image %}<br />
                <img alt="Responsive image"  class="img-rounded" src="/static{{ obj.nonmusician.profile_image.url }}" width="9%" />
            {% endif %}


        {% elif obj.musician.pk %}

            {% if obj.musician.profile_image %}
            Comment by {{ obj.musician }}<br />
        <a href="{% url 'profiles:m_public_profile' obj.musician.user.pk %}">
        <img alt="Responsive image"  class="img-rounded" src="/static{{ obj.musician.profile_image.url }}" width="9%" />
     {% else %}
        {{ obj.musician.user.username }}
     {% endif %}</a><p>
        {% endif %}<br>

<div class="forum-text">
  {{obj.text}}

    </div></div><br><br>
{% endfor %}




    </div> <!-- div well -->

</div>
{% if response.pk %}




{% endif %}


</div>
{% endblock %}