{% extends 'profiles/base.html' %}
{% block body %}
<div class="container-fluid">
<br />

<div align="Center">

<a href="{% url 'profiles:register_musician' %}" >
    <button class="big_button">Musicians Click Here</button></a><br></br>

<a href="{% url 'profiles:register_non_musician' %}" >
    <button class="big_button">Non Musicians Click here</button></a><br />
<br />
<a href="{% url 'profiles:Login' %}">
    <button class="big_button">Login</button>
</a>
</div> <!-- div align -->
</div> <!-- container-fluid -->
{% endblock %}