{% extends 'profiles/base.html' %}

{% block body %}
{% load staticfiles %}
    <div align="Center">
    <a href="{% url 'main:home' %}"><button>Home</button></a><br><br>
    {% if request.user.musician == profile %}
        {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}<br><br>
        {% if request.user.musician.profile_image %}
        <img src="/static{{ profile.profile_image.url }}" width="20%" />
        {% endif %}
        <h1>Play on {{ user.username }}!</h1>
        <br><br><a href="{% url 'message:musician_conversations' %}"><button>Inbox</button></a><br><br/>
    <a href="{% url 'profiles:add_availability' %}"><button>Add Availability</button></a>
    <a href="{% url 'profiles:update_availability' %}"><button>Remove Availability</button></a><br><br>
    <a href="{% url 'profiles:add_youtube_url' %}"><button>Add Youtube Video</button></a>
    <a href="{% url 'profiles:update_video' %}"><button>Delete Videos</button></a><br><br>
    <a href="{% url 'profiles:add_genre' %}"><button>Add Genre</button></a>
    <a href="{% url 'profiles:update_genres' %}"><button>Delete Genres</button></a><br><br>
    <a href="{% url 'profiles:add_instrument' %}"><button>Add Instrument Family</button></a>
    <a href="{% url 'profiles:update_instruments' %}"><button>Remove Instrument Groups</button></a><br><br>
    <a href="{% url 'profiles:add_musician_location' %}"><button>Add Location</button></a>
    <a href="{% url 'profiles:update_musician_location' %}"><button>Remove Locations</button></a><br><br>
    <a href="{% url 'profiles:update_friends' %}"><button>Remove Friends</button></a>
    <a href="{% url 'profiles:musician_profile_image' %}"><button>Update Profile Image</button></a><br><br>
    <a href="{% url 'profiles:update_area_range' %}"><button>Change Search Area</button></a>
    <a href="{% url 'profiles:musician_update' %}"><button>Update Your Information Here</button></a><br><br>

    {% endif %}
</div>
{% endblock %}