{% extends 'profiles/base.html' %}
{% block body %}
<div align="Center">
<h2>Hows it going {{ user.username }}?</h2><br><br>
    <a href="{% url 'main:home' %}"><button>Home</button></a><br><br>

{% if request.user.nonmusician == profile %}
    {% if messages %}
        {% for message in messages %}
              {{ message }}
        {% endfor %}
    {% endif %}<br><br>
    {% if profile.profile_image %}
        <img src="/static{{ profile.profile_image.url }}" width="20%" />
    {% endif %}<br><br>

<a href="{% url 'profiles:update_watched_musicians' %}"><button>Update Watched Musicians</button></a><br><br>
<a href="{% url 'profiles:non_musician_profile_image' %}"><button>Update Profile Image</button></a><br><br>
<a href="{% url 'profiles:non_musician_update' %}"><button>Update Your Information Here</button></a><br><br>
<a href="{% url 'profiles:update_non_area_range' %}"><button>Change Area Range</button></a>


{% endif %}

</div>


{% endblock %}