<!DOCTYPE html>
<html>
<head lang="en">
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Base Profiles</title>
</head>
<body>
<div><a href="{% url 'profiles:musician_profile' request.user.pk %}"><button>Back</button></a></div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
    <input type="submit" value="Add Location">
    </form>


</body>
</html>


