<!DOCTYPE html>
<html>
<head lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Cleff LOGIN</title>

</head>
<body>
<div align="Center" ><h1>CLEFF LOGIN</h1></div>

<div align="Center"><a href="{% url 'main:home' %}"><button>Home</button></a><br><br></div>


  <div align="Center"><form method="Post">
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit">Login</button>
        <input type="hidden" name="next" value='{% url "main:home"  %}' />
    </form></div>




</body>
</html>

