{% extends 'updates/upload-base.html' %}
{% block body %}
<div class="well">
{% if request.user.musician %}

    <a href="{% url 'profiles:musician_profile' %}"><button class="skinny_button">Back</button></a>

    {% load static from staticfiles %}
<script type="text/javascript" src="{% static 'stickyuploads/js/django-uploader.js' %}"></script>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

{{ profile_image_form.as_p }}
<button class="skinny_button" type="submit">Set Profile Photo</button>
</form>

{% endif %}

</div>
{% endblock %}