{% extends 'profiles/base.html' %}
{% block head %}
    {{ view.map_center }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"></script>
{% endblock %}
{% block body %}
    <div class="back-drop">


    {% if request.user.musician %}


    <form method="POST" action="">
    {% csrf_token %}
    {{ musician_location_form.media }}
    {{ musician_location_form.as_p }}
    <button type="submit">Add</button>
    </form>

    {% endif %}
</div>
{% endblock %}