{% extends 'base.html' %}
{% block body %}


{% if user.username %}
    <h3>Sup {{ user.username }}</h3><br/>

    {% if request.user.musician %}
        <a href="{% url 'profiles:musician_profile' user.pk %}">Profile</a><br></br>
    {% elif request.user.non_musician %}
        <a href"{% url 'profiles:non_musician_profile' %}
    {% endif %}
    <a href="{% url 'profiles:Logout' %}">Logout</a><br/>
    {% csrf_token %}
{% else %}
    <a href="{% url 'profiles:Login' %}">Login</a><br/>
    <a href="{% url 'profiles:choose' %}">Sign up</a><br/><br/>
{% endif %}<br/>






{% endblock %}
