{% extends 'main/base.html' %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<div align="Center">

{% if user.username %}

    <h3>Sup {{ user.username }}</h3><br/>

    <a href="{% url 'main:feed' %}"><button class="big_button">Main Feed</button></a><br /><br />

    <a href="{% url 'Forum:musician_post_list' %}"><button class="big_button">Musician Forum</button></a><br /><br />

    <a href="{% url 'Forum:non_musician_post_list' %}"><button class="big_button">NonMusician Forum</button></a><br /><br />


    {% if request.user.musician %}

        <a href="{% url 'profiles:musician_profile' %}"><button class="big_button">Update Profile</button></a><br /><br />

    {% else %}

        <a href="{% url 'profiles:non_musician_profile' %}"><button class="big_button">Update Profile</button></a><br /><br />

{% endif %}

    <a href="{% url 'profiles:Logout' %}"><button class="big_button">Logout</button></a><br/><br />

    {% csrf_token %}

{% else %}

    <a href="{% url 'profiles:Login' %}"><button class="big_button">Login</button></a><br/><br />

    <a href="{% url 'profiles:choose' %}"><button class="big_button">Sign up</button></a><br/><br/><br />

{% endif %}<br/>

</div>



{% endblock %}
