<!DOCTYPE html>
<html>
<head lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">






{% if request.user.musician %}

<script>



function initGeolocation() {
    if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            console.log('Geolocation is not supported');
        }
}
function errorCallback() {}
function successCallback(position) {
    var lat = position.coords.latitude.toString();
    var long = position.coords.longitude.toString();
    var coordinates = lat + ',' + long;
    console.log(coordinates);
    var coords = document.getElementById('coordinates');
    coords.value = coordinates;
    $.ajax({
        url: "{% url 'main:current' %}",
        type: 'POST',
        data: {
            coordinates: coordinates,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
    });

}

</script>

{% elif request.user.nonmusician %}

<script>


function initGeolocation() {
    if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            console.log('Geolocation is not supported');
        }
}
function errorCallback() {}
function successCallback(position) {
    var lat = position.coords.latitude.toString();
    var long = position.coords.longitude.toString();
    var coordinates = lat + ',' + long;
    console.log(coordinates);
    var coords = document.getElementById('coordinates');
    coords.value = coordinates;
    $.ajax({
        url: "{% url 'main:non_current' %}",
        type: 'POST',
        data: {
            coordinates: coordinates,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

    });

}

</script>

{% endif %}


    <meta charset="UTF-8">
    <title>Main-Feed</title>




</head>


{% if request.user.musician %}
    {% include 'navbar-musician.html' %}
{% elif request.user.nonmusician%}
    {% include 'navbar-non-musician.html' %}
{% endif %}

<div class="container-fluid">
<body onload="javascript:initGeolocation()" class="back-drop"><br />
<br />
<h1 class="white-h1" align="Center">CLEFF FEED</h1>




<div align='center'>
{% if request.user %}
   <!-- <h3 class="white-h1">Welcome to Cleff {{ request.user.username }}</h3> -->
        <div><h5 class="white-h1">This site uses your browsers location to help you find new neighbors to jam with</h5></div>
{% endif %}</div>


{% if request.user.musician %}
<form action="{% url 'main:current' %}" method="POST" id="position_form" >
       {% csrf_token %}
        <label>
            <input name="position" type="hidden" id="coordinates">
        </label>
</form>
{% elif request.user.nonmusician %}
<form action="{% url 'main:current' %}" method="POST" id="position_form" >
       {% csrf_token %}
        <label>
            <input name="position" type="hidden" id="coordinates">
        </label>
</form>
{% endif %}

<br>

{% if comrades%}
    <div align="Center"><h1 class="white-h1">Here are some musicians near you</h1></div>
{% else %}
    <div align="Center" ><h1 class="white-h1">There Does Not Seem To Be Any Members in Your Area <br /> Please Enjoy the Other Areas of our Site While We Continue Searching</h1></div>
{% endif %}


{% if request.user %}
    <div align="Center">
    {% for com in comrades %}
        {% if com.latest_video %}

            {% if com %}

            <div class="well" style="height: 70em;">

                <div class="well" align="left">



                    <h2>{{ com.user.username }}</h2><br />
                <div class="well" align="left">


                <div style="float: left; width: 12.5em;">{% if com.user.musician.genres.all %}<h3>Genres</h3>

                    {% for x in com.user.musician.genres.all %}
                        {{ x }}<br />
                    {% endfor %}

                {% endif %}</div>

                <div>
                    {% if com.user.musician.instrument_group.all %}<h3>Instrument Types</h3>
                        {% for x in com.user.musician.instrument_group.all %}
                            {{ x }}<br />
                        {% endfor %}
                    {% endif %}
                </div>


                </div>
                </div>
                <br />





                <a href="{% url 'profiles:m_public_profile' com.pk %}">
                <div><button class="big_button" >Check out {{ com.user.username }}'s profile</button></div></a><br>

            {% else %}
                <div><p>{{ com.user.username }}</p>
            <a href="{% url 'profiles:m_public_profile' com.pk %}">
                <button class="big_button">Check out {{ com.user.username }}'s profile</button></a><br /><br />

            {% endif %}






        <div align="Center">
         <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/{{ com.latest_video.embedded_code }}"
                 allowfullscreen></iframe>
         </div>
         </div>
    </div>



        {% endif %}
    {% endfor %}
{% endif %}
</div>
</div>


</body>
</html>
