link {
    display: none;
}
.big_button {
    width: 80%;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #B3B3B4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #3E3E3E;
    font-size: 24px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    display:inline-block;
}

.big_button:hover {
   border-top-color: transparent;
   background: #525252;
   color: white;
}

 .back-drop {
    background-color: #0066FF;
    position: relative;
}

.videoWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 0px;
height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 19%;
	width: 60%;
	height: 80%;
}